<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Reserve a room</title>
  </head>
  
  <body>
    <h1>Welcome to...</h1>
    <img th:src="@{/images/reservearoom.png}"/>
    <h2>Reserve a room</h2>
        <a th:href="@{/}">Make a Reservation</a><br/>
 
    <h2>See all rooms</h2>
        <a th:href="@{/rooms}">View Rooms</a><br/>

    <h2>See your reservations</h2>
    <a th:href="@{/myreservations}">View Reservations</a><br/>

  </body>
</html>